includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    # PHP 8.4
    phpVersion: 80400

    treatPhpDocTypesAsCertain: false
    level: 10

    paths:
        - src
        - cli

services:
    -
        class: Phparch\SpaceTraders\PHPStan\ControllerMethodSignatureRule
        tags:
            - phpstan.rules.rule